{% extends 'FrontBundle::layouts/base.html.twig' %}
{% block title %}
    Register
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.role) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

    <button type="submit" class="btn btn-primary">Register!</button> <a href="{{ path('login') }}" class="btn btn-default">Login</a>
    {{ form_end(form) }}
{% endblock %}