{% extends 'FrontBundle::layouts/base.html.twig' %}
{% block title %}
    Edit vUser
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
        {{ form_row(form.userGroups) }}
        <button type="submit" class="btn btn-primary">Edit</button> <a href="{{ path('admin_homepage') }}" class="btn btn-default">Back users list</a>
        {{ form_end(form) }}
    </div>
{% endblock %}