{% extends 'FrontBundle::layouts/base.html.twig' %}
{% block title %}
    Users list
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="row">
                <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ label }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="btn-group" role="group">
        <a href="{{ path('logout') }}" class="btn btn-default" role="group">Logout</a>
        {% if is_granted(expression(
        '"ROLE_ADMIN" in roles'
        )) %}

        <a href="{{ path('admin_new') }}"  class="btn btn-default" role="group">New User</a>

        <a href="{{ path('usergroup_index') }}"  class="btn btn-default" role="group">Manage Groups</a>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Users List</div>
            <table class="table">
                <tr>
                    <th>
                        Nr
                    </th>
                    <th>
                        User name
                    </th>
                    <th>
                        User email
                    </th>
                    <th>
                        User Role
                    </th>
                    <th>
                        User groups
                    </th>
                    {% if is_granted(expression(
                    '"ROLE_ADMIN" in roles'
                    )) %}
                    <th>
                        Actions
                    </th>
                    {% endif %}
                </tr>

            {% for user in users %}
            <tr {% if user.id == app.user.id %}class="table info"{% endif %}>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.role }}
                </td>
                <td>
                    {% for group in user.userGroups %}
                        <span class="label label-success">
                            {{ group.name }}
                        </span>
                        <br>
                    {% endfor %}
                </td>
                <td>
                    {% if is_granted(expression(
                    '"ROLE_ADMIN" in roles'
                    )) %}
                    <a href="{{ path('admin_edit', {id : user.id}) }}" class="btn btn-primary">Edit</a>
                    {% if user.id != app.user.id %}
                        <a href="{{ path('admin_delete', {id : user.id}) }}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}