{% extends 'FrontBundle::layouts/base.html.twig' %}
{% block title %}
    New user
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.role) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button type="submit" class="btn btn-primary">Create user</button> <a href="{{ path('admin_homepage') }}" class="btn btn-default">Back users list</a>
        {{ form_end(form) }}
    </div>
{% endblock %}