{% extends 'FrontBundle::layouts/base.html.twig' %}
{% block title %}
    Group edit
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.name) }}
        <button type="submit" class="btn btn-primary"/>Edit</button> <a href="{{ path('usergroup_index') }}" class="btn btn-default">Back groups list</a>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}