{% extends 'FrontBundle::layouts/base.html.twig' %}
{% block title %}
   Groups list
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="row">
                <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ label }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="btn-group" role="group">
            <a href="{{ path('logout') }}" class="btn btn-default" role="group">Logout</a>

            <a href="{{ path('usergroup_new') }}"  class="btn btn-default" role="group">New Group</a>

            <a href="{{ path('admin_homepage') }}"  class="btn btn-default" role="group">Manage Users</a>
        </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading">Users group List</div>
        <table class="table">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Group name</th>
                <th>Users</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for userGroup in userGroups %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ userGroup.name }}</td>
                    <td>
                        {% for user in userGroup.users %}
                            <span class="label label-success">
                                {{ user.username }}
                            </span>
                            <br>
                        {% endfor %}
                    </td>
                    <td>

                        <a href="{{ path('usergroup_edit', { 'id': userGroup.id }) }}" class="btn btn-primary">Edit</a>
                        {% if userGroup.users|length == 0 %}
                        <a href="{{ path('usergroup_delete', {'id' : userGroup.id}) }}" class="btn btn-danger">Delete</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}