{% extends 'FrontBundle::layouts/base.html.twig' %}
{% block title %}
    Create new group
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="row">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn btn-primary">Create group</button> <a href="{{ path('usergroup_index') }}" class="btn btn-default">Back groups list</a>
        {{ form_end(form) }}
    </div>

{% endblock %}