<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets combine=false
        '@FrontBundle/Resources/public/css/bootstrap.min.css'
        '@FrontBundle/Resources/public/css/shop-homepage.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <!-- Bootstrap Core CSS -->
    {#<link href="css/bootstrap.min.css" rel="stylesheet">#}

    <!-- Custom CSS -->
    {#<link href="css/shop-homepage.css" rel="stylesheet">#}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Page Content -->
<div class="container">

    <div class="row">

                {% block content %}

                {% endblock %}

    </div>

</div>
<!-- /.container -->


{% block javascripts %}
    {% javascripts combine=true
    '@FrontBundle/Resources/public/js/jquery.js'
    '@FrontBundle/Resources/public/js/bootstrap.min.js'
    %}

    <script src="{{  asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>

</html>
